$font-family: 'Roboto', sans-serif;

/* Color styles */
$c-white: #FFFFFF;
$c-dark: #1F1F1F;
$c-gray: #77787B;
$c-border: #D5D7DD;

$c-theme: #2DBE60;
$c-error: #E71423;

$font-sizes: (
  title: 32px,
  text-1: 14px,
  text-2: 16px,
  btn: 16px,
);
